<template name="Home">
<div class="jumbotron">
    <div class="container">
  <h1>Welcome to jacquelope's site!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</div>
</template>